body{
    background-image: url(images/backgroundgreen.jpg);
    background-position: center;
    background-size: cover;
    background-color: rgb(36, 35, 33);
    height: 100vh;
}

.navbar{
    width: 1600px;
    height; 75px;
    margin;  align-self: auto;
    background-color: green;

    
}

.icon{
    width: 200px;
    float: right;
    height: 70px;
}

.logo{
    color:rgb(190, 185, 233);
    Font-size: 40px;
    font-family: Arial;
    padding-left: 180px;
    float: centre;
    padding-top: 10px;

}