body{
    background-image: url(images/backgroundgreen.jpg);
    background-position: center;
    background-size: cover;
    background-color: blanchedalmond;
    height: 100vh;
}

.navbar{
    width: 1200px;
    height; 75px;
    margin;  align-self: auto;

    
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
    
}

.logo{
    color:rgb(241, 151, 15);
    Font-size: 40px;
    font-family: Arial;
    padding-left: 20px;
    float: centre;
    padding-top: 10px;


}